<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="logDirectory" value="${specialfolder:folder=LocalApplicationData}/DittoMe-Off/Logs" />
  <variable name="logFileName" value="DittoMe-Off" />

  <targets>
    <!-- Rolling file target -->
    <target name="fileTarget"
            xsi:type="File"
            fileName="${logDirectory}/${logFileName}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${message} ${exception:format=tostring}"
            archiveFileName="${logDirectory}/archives/${logFileName}.${shortdate}.log"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />

    <!-- Debug console target (visible in VS output window) -->
    <target name="debuggerTarget"
            xsi:type="Debugger"
            layout="${time} | ${level:uppercase=true:padding=-5} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Debug builds: all logs to file and debugger -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Debug" writeTo="debuggerTarget" />
  </rules>
</nlog>